@model ICollection<ProductsDelivery.Models.Collector>
@{
}
<div class="body-wrapper container-fluid p-0">
    <!-- content area -->
    <div class="content-wrapper" style="margin-left: 0px;">
        <div class="doc-hero-wrap">
            <div class="hero-wrap-inner">
                <h2 class="title">Сборщики</h2>
            </div>
        </div>
            <!-- Getting start -->
        <div class="content-section" id="users" style="display: block;">
            <div class="table_page table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>ФИО</th>
                        <th>Часовая смена</th>
                        <th>Удаление</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var collector in @Model)
                    {   
                        <tr>
                            <td style="min-width: 0; text-transform: none;">@collector.Id</td>
                            <td style="min-width: 0; text-transform: none;">@collector.Login</td>
                            <td style="min-width: 0; text-transform: none;">@collector.Password</td>
                            <td style="min-width: 0; text-transform: none;">@collector.Surname @collector.Name @collector.Patronymic</td>
                            <td style="min-width: 0; text-transform: none;">@collector.HourShift</td>
                            <td style="min-width: 0; text-transform: none;"><a asp-action="DeleteCollector" asp-controller="Manager" asp-route-id="@collector.Id"><img src="~/images/icons/trash_16.png" alt=""></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-sm btn-default-outline mt-3" asp-action="CreateCollector" asp-controller="Manager">Добавить</a>
            </div>
        </div>
    </div>
</div>
