@model ICollection<ProductsDelivery.Models.Application>
<div class="faq-section section-fluid-270 section-top-gap-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="faq-content">
                    <h3 class="title">Заявки на поставку продуктов</h3>
                </div>
            </div>
        </div>
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="faq-accordian">
                        @if (@Model.Count == 0)
                        {
                            <h2>Нет заяков</h2>
                        }
                        else
                        {
                            @foreach(var application in @Model)
                            {
                                <div class="faq-accordian-single-item">
                                    <input id="item-@application.Id" name="accordian-item" type="radio" checked="">
                                    <label for="item-@application.Id">Заказ #@application.Id</label>
                                    <div class="item-content">
                                        <div class="table_page table-responsive" style="margin-bottom: 10px;">
                                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Товар</th>
                                                        <th>Компания</th>
                                                        <th>Количество</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="min-width: 0;">@application.Product.Title</td>
                                                        <td style="min-width: 0;">@application.Product.Brand</td>   
                                                        <td style="min-width: 0;">@application.Count</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>
                                                <a asp-action="AcceptApplication" asp-controller="Provider" asp-route-id="@application.Product.Id" asp-route-count="@application.Count" class="btn btn-sm btn-radius btn-default">Принять</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
