@model ICollection<ProductsDelivery.Models.Order>
@{
    Dictionary<int, List<Product>> uniqueProducts = ViewBag.UniqueProducts; 
}
<div class="faq-section section-fluid-270 section-top-gap-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="faq-content">
                    <h3 class="title">Заказы</h3>
                </div>
            </div>
        </div>
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="faq-accordian">
                        @if (@Model.Count == 0)
                        {
                            <h2>Нет заявок</h2>
                        }
                        else
                        {
                            @foreach(var order in @Model)
                            {
                                <div class="faq-accordian-single-item">
                                    <input id="item-1" name="accordian-item" type="radio" checked="">
                                    <label for="item-1">Заказ #@order.Id</label>
                                    <div class="item-content">
                                        <div class="table_page table-responsive" style="margin-bottom: 10px;">
                                            <form asp-action="CollectOrder" asp-controller="Collector" method="post">
                                                <div class="validation" asp-validation-summary="ModelOnly"></div>
                                                <input type="hidden" name="id" value="@order.Id" />
                                                <input type="hidden" name="count" value="@uniqueProducts[order.Id].Count" />
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Добавлен</th>
                                                            <th>Товар</th>
                                                            <th>Компания</th>
                                                            <th>Количество</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach(var product in uniqueProducts[order.Id])
                                                    {   
                                                        <tr>
                                                            <td style="min-width: 0;"><input type="checkbox" name="products" style="display: block;"></td>
                                                            <td style="min-width: 0;">@product.Title</td>
                                                            <td style="min-width: 0;">@product.Brand</td>   
                                                            <td style="min-width: 0;">@product.Count</td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                                <p style="margin-top: 15px; ">
                                                    <button class="btn btn-sm btn-radius btn-default" style="margin-bottom: 0px;">Собрать</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 